button.accordion, button.accordion-last {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	width: 100%;
}

button.accordion.active, button.accordion:hover,
button.accordion-last.active, button.accordion-last:hover {
	background-color: #ddd;
}

button.accordion:after {
	content: '\02795';
	font-size: 12px;
	color: #777;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: '\2796';
}

button.accordion-last:after {
	font-size: 12px;
	color: #777;
	float: right;
	margin-left: 5px;
}

button.accordion-last.active:after {

}

div.panel {
	padding: 0 18px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
	text-align: left;
}

div.panel.show {
	opacity: 1;
	max-height: 400px;
}

/* ACCORDION CONTENT */
button.acc-sib {
	background-color: #fff;
	color: #444;
	cursor: pointer;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 13px;
	transition: 0.4s;
	width: 100%;
}

button.acc-sib:hover {
	background-color: #eee;
}

button.acc-sib:after {
	font-size: 12px;
	color: #777;
	float: right;
	margin-left: 5px;
}