* {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
body {
	font: 12px arial, san-serif;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-fles-flow: row wrap;
	flex-flow: row wrap;
	text-align: center;
	height: 100%;
}

.flex-container > * {
	padding: 10px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
}

.nav {
	background: #eee;
	max-width: 20%;
}

.nav ul {
	list-style-type: none;
	padding: 0;
}

.nav ul a {
	text-decoration: none;
}

.content {
	text-align: left;
}

header {
	background: #333;
	color: white;
	max-height: 10%;
}

footer {
	background: #aaa;
	color: white;
	max-height: 15%;
	text-align: right;
}

@media all and (min-width: 768px) {
	.nav {
		text-align: left;
		-webkit-flex: 1 auto;
		flex: 1 auto;
		-webkit-order: 1;
		order: 1;
	}
	.content {
		-webkit-flex: 5 0px;
		flex: 5 0px;
		-webkit-order: 2;
		order: 2;
	}
	footer {
		-webkit-order: 3;
		order: 3;
	}
}